In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sn

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv("melb_data.csv")

In [23]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [24]:
df.shape

(13580, 21)

In [25]:
df.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [26]:
df.columns[df.isna().any()]

Index(['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea'], dtype='object')

In [30]:
col = ['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount',
         'Distance','CouncilArea','Bathroom','Bedroom2','Car','Landsize','BuildingArea','Price']

In [31]:
df = df[col]
df

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bathroom,Bedroom2,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,1.0,2.0,1.0,202.0,NaN,1480000.0
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,1.0,2.0,0.0,156.0,79.0,1035000.0
2,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,2.0,3.0,0.0,134.0,150.0,1465000.0
3,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra,2.0,3.0,1.0,94.0,NaN,850000.0
4,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra,1.0,3.0,2.0,120.0,142.0,1600000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,S,Barry,South-Eastern Metropolitan,7392.0,16.7,NaN,2.0,4.0,2.0,652.0,NaN,1245000.0
13576,Williamstown,3,h,SP,Williams,Western Metropolitan,6380.0,6.8,NaN,2.0,3.0,2.0,333.0,133.0,1031000.0
13577,Williamstown,3,h,S,Raine,Western Metropolitan,6380.0,6.8,NaN,2.0,3.0,4.0,436.0,NaN,1170000.0
13578,Williamstown,4,h,PI,Sweeney,Western Metropolitan,6380.0,6.8,NaN,1.0,4.0,5.0,866.0,157.0,2500000.0
13579,Yarraville,4,h,SP,Village,Western Metropolitan,6543.0,6.3,NaN,1.0,4.0,1.0,362.0,112.0,1285000.0

In [32]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bathroom            0
Bedroom2            0
Car                62
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [37]:
#ekhane jegula drkr segulay kono null value nai .....jpdi thakto tahole zero kore nitam
#cols_to_fill_zero = ['Propertycount','Distance','Bedroom2','Bathroom','Car']
# df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

cols_to_fill_zero = ['Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [38]:
# Building Area amdr onk important fact tai etar mean ber korbo 
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())

In [39]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bathroom            0
Bedroom2            0
Car                 0
Landsize            0
BuildingArea        0
Price               0
dtype: int64

In [40]:
df.dropna(inplace = True)

In [41]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bathroom         0
Bedroom2         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [43]:
df = pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Propertycount,Distance,Bathroom,Bedroom2,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,4019.0,2.5,1.0,2.0,1.0,202.0,151.96765,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,4019.0,2.5,1.0,2.0,0.0,156.0,79.00000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,4019.0,2.5,2.0,3.0,0.0,134.0,150.00000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,4019.0,2.5,2.0,3.0,1.0,94.0,151.96765,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,4019.0,2.5,1.0,3.0,2.0,120.0,142.00000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
x = df.drop('Price',axis = 1)
y = df['Price']

In [46]:
from sklearn.model_selection import train_test_split

In [51]:
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [52]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [53]:
reg.fit(x_train,y_train)

LinearRegression()

In [54]:
reg.score(x_test,y_test)

-1097690457963.062

In [58]:
# Thats mean overfitting
from sklearn.linear_model import Lasso    # for l1 regularization
l = Lasso(alpha = 50, max_iter = 1000,tol = 0.0001)

In [59]:
l.fit(x_train,y_train)

Lasso(alpha=50)

In [60]:
l.score(x_test,y_test)

0.6687091965971541

In [2]:
from sklearn.linear_model import Ridge  # for l2 regularization
rr = Ridge(alpha = 50, max_iter = 100,tol = 0.001)

In [ ]:
rr.fit(x_train, y_train)
rr.score(x_test, y_test)