# Predict withLinear Regression

## Gradient Descent

In [3]:

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import math

def predict_using_sklean():
    df = pd.read_csv("test_scores.csv")
    r = LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_

def gradient_descent(x,y):
    m_curr = 0
    b_curr = 0
    iterations = 100
    n = len(x)
    learning_rate = 0.0002

    cost_previous = 0

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([value**2 for value in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        if math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost
        print ("m {}, b {}, cost {}, iteration {}".format(m_curr,b_curr,cost, i))

    return m_curr, b_curr

if __name__ == "__main__":
    df = pd.read_csv("test_scores.csv")
    x = np.array(df.math)
    y = np.array(df.cs)

    m, b = gradient_descent(x,y)
    print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

    m_sklearn, b_sklearn = predict_using_sklean()
    print("Using sklearn: Coef {} Intercept {}".format(m_sklearn,b_sklearn))

m 1.9783600000000003, b 0.027960000000000002, cost 5199.1, iteration 0
m 0.20975041279999962, b 0.0030470367999999894, cost 4161.482445460163, iteration 1
m 1.7908456142986242, b 0.025401286955264, cost 3332.2237319269248, iteration 2
m 0.37738163667530467, b 0.005499731626422651, cost 2669.4843523161976, iteration 3
m 1.6409848166378898, b 0.023373894401807944, cost 2139.826383775145, iteration 4
m 0.5113514173939655, b 0.0074774305434828076, cost 1716.5264071567592, iteration 5
m 1.5212165764726306, b 0.021771129698498662, cost 1378.2272007804495, iteration 6
m 0.6184191426785134, b 0.009075514323270572, cost 1107.8601808918404, iteration 7
m 1.4254981563597626, b 0.020507724625171385, cost 891.7842215178443, iteration 8
m 0.7039868810749315, b 0.010370210797388455, cost 719.0974036421305, iteration 9
m 1.3490002310389348, b 0.01951553325074733, cost 581.0869686205, iteration 10
m 0.7723719384951477, b 0.01142244086408669, cost 470.7897237271261, iteration 11
m 1.2878632281408475, b 0.018740093691150705, cost 382.6407204862143, iteration 12
m 0.8270246840299113, b 0.012280892197750798, cost 312.1924801681589, iteration 13
m 1.2390025969113474, b 0.01813788028359247, cost 255.89060022344475, iteration 14
m 0.8707026352388424, b 0.012984475742007832, cost 210.89442007737276, iteration 15
m 1.1999531799587442, b 0.01767410753812916, cost 174.93369813849728, iteration 16
m 0.9056095862354473, b 0.013564288926616264, cost 146.19406878727372, iteration 17
m 1.168744835939885, b 0.017320975066834464, cost 123.2255001796068, iteration 18
m 0.9335067981503328, b 0.014045184660493999, cost 104.86913418555842, iteration 19
m 1.1438030378387343, b 0.017056264940052912, cost 90.1988172376793, iteration 20
m 0.9558018619881088, b 0.014447025263025912, cost 78.4743720801518, iteration 21
m 1.123869431612398, b 0.016862220700598438, cost 69.10425278659366, iteration 22
m 0.9736197173740411, b 0.014785684599634922, cost 61.61569883880534, iteration 23
m 1.1079383470620547, b 0.016724651477560692, cost 55.63088241716976, iteration 24
m 0.9878594103778675, b 0.015073848983471565, cost 50.84784543555072, iteration 25
m 1.0952060576414993, b 0.016632215998581557, cost 47.02526451581355, iteration 26
m 0.9992394540800741, b 0.015321657252001263, cost 43.970275232370476, iteration 27
m 1.0850302291522722, b 0.01657585037608088, cost 41.528741309884765, iteration 28
m 1.0083340805074807, b 0.015537212312981736, cost 39.57747781519814, iteration 29
m 1.0768975113455124, b 0.01654831079689666, cost 38.01803597157669, iteration 30
m 1.0156022129971571, b 0.01572698996942581, cost 36.77173601363096, iteration 31
m 1.0703976372937574, b 0.016543808042154003, cost 35.775697470042715, iteration 32
m 1.0214106207634122, b 0.015896165650447946, cost 34.97966658555935, iteration 33
m 1.0652027237396349, b 0.016557715397389393, cost 34.34348081266759, iteration 34
m 1.0260524239108442, b 0.016048875532907396, cost 33.83504244613808, iteration 35
m 1.0610507280390304, b 0.01658633521579648, cost 33.42869916198312, iteration 36
m 1.0297618825473565, b 0.016188425228507268, cost 33.103949752366304, iteration 37
m 1.0577322270335765, b 0.0166267123567505, cost 32.84440975547639, iteration 38
m 1.0327262161686235, b 0.016317456565470633, cost 32.636984792143764, iteration 39
m 1.0550798507922887, b 0.016676485086818824, cost 32.47120990063734, iteration 40
m 1.035095049650491, b 0.016438080879614143, cost 32.33872153636954, iteration 41
m 1.052959838111218, b 0.01673376592060118, cost 32.23283559672576, iteration 42
m 1.036987962438417, b 0.016551985539901195, cost 32.14821018063812, iteration 43
m 1.0512652877114044, b 0.01679704638933073, cost 32.08057606773955, iteration 44
m 1.0385005218215662, b 0.016660519083126275, cost 32.02652131866401, iteration 45
m 1.0499107646303472, b 0.016865120932420777, cost 31.983319128693804, iteration 46
m 1.0397091046950075, b 0.01676475925312493, cost 31.94879024926364, iteration 47
m 1.0488279896772978, b 0.01693702607197308, cost 31.921193035921274, iteration 48
m 1.0406747510877237, b 0.016865567377366896, cost 31.899135575212195, iteration 49
m 1.047962394467687, b 0.017011991801351975, cost 31.881505456930224, iteration 50
m 1.0414462438827428, b 0.016963631824454838, cost 31.86741364845402, iteration 51
m 1.0472703682240316, b 0.01708940273517817, cost 31.85614963940047, iteration 52
m 1.0420625701139212, b 0.017059502735137972, cost 31.847145593458148, iteration 53
m 1.046717057433117, b 0.017168767060599943, cost 31.839947698713402, iteration 54
m 1.0425548880219075, b 0.017153619779162816, cost 31.83419327097573, iteration 55
m 1.0462746073431242, b 0.01724969172330578, cost 31.829592454870966, iteration 56
m 1.0429480991153375, b 0.017246334338408182, cost 31.825913599447194, iteration 57
m 1.0459207565770121, b 0.017331862596311, cost 31.82297157043309, iteration 58
m 1.0432621045542085, b 0.017337927235534713, cost 31.82061840945363, iteration 59
m 1.0456377139546258, b 0.017415028630952047, cost 31.81873586892226, iteration 60
m 1.0435128092451273, b 0.017428622902632068, cost 31.81722944596486, iteration 61
m 1.0454112608545958, b 0.01749898919044121, cost 31.816023614361388, iteration 62
m 1.0437129243091645, b 0.017518600704730235, cost 31.81505801393808, iteration 63
m 1.0452300338265001, b 0.017583583926907467, cost 31.81428440514876, iteration 64
m 1.0438726084101126, b 0.01760800398949262, cost 31.81366423519171, iteration 65
m 1.0450849512581242, b 0.017668684691178615, cost 31.813166692862268, iteration 66
m 1.043999980300792, b 0.017696947319685068, cost 31.812767154001268, iteration 67
m 1.0449687551708302, b 0.017754189067120032, cost 31.812445939105075, iteration 68
m 1.0441015284474728, b 0.017785522253328603, cost 31.81218732041362, iteration 69
m 1.0448756450247292, b 0.017840015204310798, cost 31.811978728380467, iteration 70
m 1.0441824383996428, b 0.01787380196316831, cost 31.81181011748764, iteration 71
m 1.0448009850576234, b 0.01792609768834459, cost 31.811673459407757, iteration 72
m 1.0442468544222752, b 0.017961844928529556, cost 31.811562337942128, iteration 73
m 1.0447410703917646, b 0.01801238424039495, cost 31.811471625297237, iteration 74
m 1.0442980885910158, b 0.018049697885830843, cost 31.811397223366267, iteration 75
m 1.044692940107559, b 0.01809883307952457, cost 31.811335856963026, iteration 76
m 1.0443387879000003, b 0.018137398186618782, cost 31.811284908575193, iteration 77
m 1.044654227853013, b 0.018185410814656123, cost 31.811242286300104, iteration 78
m 1.04437106781358, b 0.01822497568209775, cost 31.811206318299767, iteration 79
m 1.044623042451559, b 0.018272090759846052, cost 31.811175668449643, iteration 80
m 1.0443966190001837, b 0.018312454229236455, cost 31.81114926892579, iteration 81
m 1.044597872484431, b 0.018358851587859853, cost 31.81112626632863, iteration 82
m 1.0444167926334849, b 0.018399852894440714, cost 31.811105978625633, iteration 83
m 1.0445775100333783, b 0.018445676254116222, cost 31.811087860739732, iteration 84
m 1.0444326685646632, b 0.01848718691552271, cost 31.81107147704813, iteration 85
m 1.0445609897362342, b 0.0185325511367087, cost 31.81105647940329, iteration 86
m 1.044445109805328, b 0.018574468470501836, cost 31.81104258956744, iteration 87
m 1.044547540080427, b 0.01861946534911527, cost 31.811029585174346, iteration 88
m 1.044454806070002, b 0.018661707292026614, cost 31.81101728851003, iteration 89
m 1.0445365444770032, b 0.01870641019091935, cost 31.81100555754639, iteration 90
m 1.0444623085750486, b 0.01874891115841746, cost 31.810994278775315, iteration 91
m 1.0445275101511837, b 0.018793378708828794, cost 31.810983361481625, iteration 92
m 1.0444680578498022, b 0.01883608628610563, cost 31.810972733166256, iteration 93
m 1.044520043279852, b 0.018880365345844474, cost 31.810962335888206, iteration 94
m 1.0444724059630832, b 0.01892323764326849, cost 31.810952123341476, iteration 95
m 1.0445138291215608, b 0.0189673656608776, cost 31.810942058518464, iteration 96
m 1.0444756342865145, b 0.01901036920048514, cost 31.810932111842874, iteration 97
m 1.0445086161365338, b 0.01905437610466928, cost 31.81092225967744, iteration 98
m 1.0444779676908766, b 0.01909748413105923, cost 31.81091248313143, iteration 99
Using gradient descent function: Coef 1.0444779676908766 Intercept 0.01909748413105923
Using sklearn: Coef [1.01773624] Intercept 1.9152193111569176

In [44]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

def sklearn_predict():
    r = LinearRegression()
    r.fit(df[["math"]],df.cs)
    return r.coef_ , r.intercept_

def gradient_predict(x,y):
    iteration = 100
    m = 0
    c = 0
    n = len(x)
    learning_rate = 0.0002
    cost = 0
    for i in range(iteration):
        y_predict = m * x + c
        mse = 1/n * sum([j**2 for j in y - y_predict])
        dm = -2/n * sum(x*y - y_predict)  #diff of mse with d/dm
        dc = -2/n * sum(y - y_predict)   #diff of mse with d/dc
        m = m -  learning_rate*dm     
        c = c - learning_rate*dc
        
        if math.isclose(mse, cost, rel_tol=1e-20):
            break
        cost = mse
        print("Iteration {}  Coef = {} , Itercept = {}, Cost = {}" .format(i,m,c,cost))
    return m,c

if __name__ == '__main__':
    df = pd.read_csv("test_scores.csv")
    x = np.array(df.math)
    y = np.array(df.cs)
    h,r = gradient_predict(x,y)
    print("Using gradient descent function: Coef {} Intercept {}".format(h, r))
    coef,inter = sklearn_predict()
    print("Using sklearn descent function: Coef {} Intercept {}" .format(coef,inter))

Iteration 0  Coef = 1.9783600000000003 , Itercept = 0.027960000000000002, Cost = 5199.1
Iteration 1  Coef = 3.903847036800001 , Itercept = 0.0030470367999999894, Cost = 4161.482445460163
Iteration 2  Coef = 5.777895025161985 , Itercept = -0.07330497483801604, Cost = 38730.45177403339
Iteration 3  Coef = 7.601898992079592 , Itercept = -0.19970100792040907, Cost = 106039.17707012122
Iteration 4  Coef = 9.377216131414393 , Itercept = -0.37478386858560764, Cost = 203400.27701581828
Iteration 5  Coef = 11.105166829930434 , Itercept = -0.5972331700695659, Cost = 328295.5123239282
Iteration 6  Coef = 12.78703566550272 , Itercept = -0.8657643344972793, Cost = 478366.0488089262
Iteration 7  Coef = 14.424072378254287 , Itercept = -1.1791276217457132, Cost = 651403.2600456047
Iteration 8  Coef = 16.017492815356032 , Itercept = -1.5361071846439696, Cost = 845340.0402405178
Iteration 9  Coef = 17.568479850203577 , Itercept = -1.9355201497964252, Cost = 1058242.5995267008
Iteration 10  Coef = 19.078184276666057 , Itercept = -2.3762157233339463, Cost = 1288302.7153923074
Iteration 11  Coef = 20.547725679082873 , Itercept = -2.85707432091713, Cost = 1533830.4153733458
Iteration 12  Coef = 21.978193278666147 , Itercept = -3.3770067213338577, Cost = 1793247.0674839285
Iteration 13  Coef = 23.370646756948723 , Itercept = -3.9349532430512837, Cost = 2065078.8561284882
Iteration 14  Coef = 24.726117056900275 , Itercept = -4.529882943099733, Cost = 2347950.6224430837
Iteration 15  Coef = 26.04560716231714 , Itercept = -5.160792837682869, Cost = 2640580.049150957
Iteration 16  Coef = 27.330092856075098 , Itercept = -5.82670714392491, Cost = 2941772.1710942877
Iteration 17  Coef = 28.58052345781834 , Itercept = -6.526676542181667, Cost = 3250414.1936230445
Iteration 18  Coef = 29.797822541642308 , Itercept = -7.2597774583577, Cost = 3565470.6019858066
Iteration 19  Coef = 30.982888634312967 , Itercept = -8.025111365687039, Cost = 3885978.5457797647
Iteration 20  Coef = 32.1365958945504 , Itercept = -8.821804105449607, Cost = 4211043.483380145
Iteration 21  Coef = 33.2597947738902 , Itercept = -9.649005226109814, Cost = 4539835.072085974
Iteration 22  Coef = 34.3533126596223 , Itercept = -10.505887340377717, Cost = 4871583.290491849
Iteration 23  Coef = 35.41795450029334 , Itercept = -11.391645499706673, Cost = 5205574.780326437
Iteration 24  Coef = 36.45450341424539 , Itercept = -12.305496585754629, Cost = 5541149.395690184
Iteration 25  Coef = 37.463721281651054 , Itercept = -13.246678718348964, Cost = 5877696.94827915
Iteration 26  Coef = 38.44634932049268 , Itercept = -14.21445067950734, Cost = 6214654.137801195
Iteration 27  Coef = 39.40310864692092 , Itercept = -15.208091353079102, Cost = 6551501.657376468
Iteration 28  Coef = 40.33470082041642 , Itercept = -16.226899179583597, Cost = 6887761.4642685745
Iteration 29  Coef = 41.24180837416673 , Itercept = -17.27019162583329, Cost = 7222994.206817067
Iteration 30  Coef = 42.12509533105933 , Itercept = -18.337304668940693, Cost = 7556796.798938199
Iteration 31  Coef = 42.985207705681 , Itercept = -19.427592294319023, Cost = 7888800.134030073
Iteration 32  Coef = 43.82277399270293 , Itercept = -20.540426007297093, Cost = 8218666.930562578
Iteration 33  Coef = 44.63840564202082 , Itercept = -21.675194357979198, Cost = 8546089.702052452
Iteration 34  Coef = 45.43269752100922 , Itercept = -22.831302478990803, Cost = 8870788.844521374
Iteration 35  Coef = 46.20622836423945 , Itercept = -24.008171635760572, Cost = 9192510.834910905
Iteration 36  Coef = 46.95956121100128 , Itercept = -25.205238788998745, Cost = 9511026.534283757
Iteration 37  Coef = 47.69324383095893 , Itercept = -26.4219561690411, Cost = 9826129.589977503
Iteration 38  Coef = 48.407809138263325 , Itercept = -27.657790861736704, Cost = 10137634.931194978
Iteration 39  Coef = 49.10377559443362 , Itercept = -28.912224405566405, Cost = 10445377.352816785
Iteration 40  Coef = 49.78164760031258 , Itercept = -30.184752399687447, Cost = 10749210.182506235
Iteration 41  Coef = 50.441915877392105 , Itercept = -31.474884122607925, Cost = 11049004.026446396
Iteration 42  Coef = 51.08505783879723 , Itercept = -32.7821421612028, Cost = 11344645.589303799
Iteration 43  Coef = 51.71153795020905 , Itercept = -34.10606204979098, Cost = 11636036.564254487
Iteration 44  Coef = 52.32180808099938 , Itercept = -35.44619191900065, Cost = 11923092.589136122
Iteration 45  Coef = 52.91630784584268 , Itercept = -36.80209215415735, Cost = 12205742.265005488
Iteration 46  Coef = 53.495464937063424 , Itercept = -38.1733350629366, Cost = 12483926.23358481
Iteration 47  Coef = 54.05969544797026 , Itercept = -39.559504552029765, Cost = 12757596.31027331
Iteration 48  Coef = 54.60940418742131 , Itercept = -40.96019581257872, Cost = 13026714.669582814
Iteration 49  Coef = 55.14498498585844 , Itercept = -42.37501501414158, Cost = 13291253.080028977
Iteration 50  Coef = 55.66682099304196 , Itercept = -43.80357900695806, Cost = 13551192.185672818
Iteration 51  Coef = 56.17528496771066 , Itercept = -45.24551503228936, Cost = 13806520.831661815
Iteration 52  Coef = 56.67073955938635 , Itercept = -46.700460440613675, Cost = 14057235.43126574
Iteration 53  Coef = 57.15353758253579 , Itercept = -48.168062417464235, Cost = 14303339.372040424
Iteration 54  Coef = 57.62402228329742 , Itercept = -49.647977716702606, Cost = 14544842.458883548
Iteration 55  Coef = 58.082527598974394 , Itercept = -51.139872401025634, Cost = 14781760.391869642
Iteration 56  Coef = 58.52937841049021 , Itercept = -52.64342158950982, Cost = 15014114.276868675
Iteration 57  Coef = 58.96489078799772 , Itercept = -54.158309212002315, Cost = 15241930.167062754
Iteration 58  Coef = 59.38937222982722 , Itercept = -55.68422777017281, Cost = 15465238.633580048
Iteration 59  Coef = 59.8031218949543 , Itercept = -57.22087810504573, Cost = 15684074.36356373
Iteration 60  Coef = 60.20643082916314 , Itercept = -58.76796917083689, Cost = 15898475.78408717
Iteration 61  Coef = 60.59958218507624 , Itercept = -60.325217814923796, Cost = 16108484.710414827
Iteration 62  Coef = 60.98285143621697 , Itercept = -61.89234856378307, Cost = 16314146.017191745
Iteration 63  Coef = 61.356506585266764 , Itercept = -63.46909341473327, Cost = 16515507.331223644
Iteration 64  Coef = 61.720808366674326 , Itercept = -65.0551916333257, Cost = 16712618.744583929
Iteration 65  Coef = 62.076010443770116 , Itercept = -66.65038955622991, Cost = 16905532.54685477
Iteration 66  Coef = 62.42235960053507 , Itercept = -68.25444039946495, Cost = 17094302.975375917
Iteration 67  Coef = 62.76009592816855 , Itercept = -69.86710407183146, Cost = 17278985.982437927
Iteration 68  Coef = 63.08945300659662 , Itercept = -71.48814699340339, Cost = 17459639.018416252
Iteration 69  Coef = 63.41065808105772 , Itercept = -73.11734191894229, Cost = 17636320.82989882
Iteration 70  Coef = 63.72393223389943 , Itercept = -74.75446776610057, Cost = 17809091.271912932
Iteration 71  Coef = 64.02949055171608 , Itercept = -76.39930944828393, Cost = 17978011.13340792
Iteration 72  Coef = 64.32754228795353 , Itercept = -78.05165771204646, Cost = 18143141.97519714
Iteration 73  Coef = 64.61829102110424 , Itercept = -79.71130897889576, Cost = 18304545.9796082
Iteration 74  Coef = 64.9019348086119 , Itercept = -81.3780651913881, Cost = 18462285.811132725
Iteration 75  Coef = 65.17866633660235 , Itercept = -83.05173366339766, Cost = 18616424.48740685
Iteration 76  Coef = 65.44867306555369 , Itercept = -84.73212693444631, Cost = 18767025.259892087
Iteration 77  Coef = 65.71213737201587 , Itercept = -86.41906262798413, Cost = 18914151.503661413
Iteration 78  Coef = 65.96923668648681 , Itercept = -88.1123633135132, Cost = 19057866.615730044
Iteration 79  Coef = 66.22014362754929 , Itercept = -89.81185637245072, Cost = 19198233.921401627
Iteration 80  Coef = 66.46502613237016 , Itercept = -91.51737386762986, Cost = 19335316.588131405
Iteration 81  Coef = 66.70404758366028 , Itercept = -93.22875241633973, Cost = 19469177.546436228
Iteration 82  Coef = 66.93736693319141 , Itercept = -94.9458330668086, Cost = 19599879.41740818
Iteration 83  Coef = 67.16513882196327 , Itercept = -96.66846117803675, Cost = 19727484.446414392
Iteration 84  Coef = 67.38751369711163 , Itercept = -98.39648630288839, Cost = 19852054.442589417
Iteration 85  Coef = 67.60463792564596 , Itercept = -100.12976207435406, Cost = 19973650.72374938
Iteration 86  Coef = 67.81665390510244 , Itercept = -101.86814609489758, Cost = 20092334.066378716
Iteration 87  Coef = 68.02370017119607 , Itercept = -103.61149982880396, Cost = 20208164.660360366
Iteration 88  Coef = 68.22591150255323 , Itercept = -105.3596884974468, Cost = 20321202.06813978
Iteration 89  Coef = 68.423419022604 , Itercept = -107.11258097739604, Cost = 20431505.188030824
Iteration 90  Coef = 68.61635029871097 , Itercept = -108.87004970128906, Cost = 20539132.22138904
Iteration 91  Coef = 68.80482943860993 , Itercept = -110.6319705613901, Cost = 20644140.643393725
Iteration 92  Coef = 68.98897718423483 , Itercept = -112.39822281576521, Cost = 20746587.17719553
Iteration 93  Coef = 69.16891100299839 , Itercept = -114.16868899700165, Cost = 20846527.771200705
Iteration 94  Coef = 69.34474517659707 , Itercept = -115.94325482340297, Cost = 20944017.579276577
Iteration 95  Coef = 69.51659088740776 , Itercept = -117.72180911259228, Cost = 21039110.943675835
Iteration 96  Coef = 69.68455630254127 , Itercept = -119.50424369745878, Cost = 21131861.38048911
Iteration 97  Coef = 69.84874665561635 , Itercept = -121.29045334438369, Cost = 21222321.567446884
Iteration 98  Coef = 70.00926432631604 , Itercept = -123.080335673684, Cost = 21310543.3339023
Iteration 99  Coef = 70.16620891778635 , Itercept = -124.8737910822137, Cost = 21396577.652837057
Using gradient descent function: Coef 70.16620891778635 Intercept -124.8737910822137
Using sklearn descent function: Coef [1.01773624] Intercept 1.9152193111569176

## Save and load traning model

In [47]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df = pd.read_csv("test_scores.csv")

r = LinearRegression()
r.fit(df[["math"]],df.cs)
r.predict([[10]])

G:\Himel.conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([12.09258169])

In [48]:
import pickle

In [50]:
with open ('model_pickle','wb') as f:  # wb = write binary
    pickle.dump(r,f)

In [55]:
with open('model_pickle', 'rb') as f: #rb = read binary
    obj = pickle.load(f)

In [56]:
obj.predict([[90]])

G:\Himel.conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93.51148072])

# # Dummy variable and hot Encoding

In [57]:
import pandas as pd
hr = pd.read_csv("homeprices.csv")
hr

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [60]:
dummy = pd.get_dummies(hr.town)
dummy

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [62]:
merge = pd.concat([hr,dummy],axis = 'columns')
merge

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [63]:
final = merge.drop(['town','west windsor'], axis = 'columns')
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [64]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [65]:
x = final.drop('price',axis = 'columns')
x

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [67]:
y = final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [68]:
model.fit(x,y)

LinearRegression()

In [69]:
model.predict([[2800,1,0]])

G:\Himel.conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([565089.22812299])

In [72]:
model.score(x,y)

0.9573929037221873

## One Hot Encoding

In [73]:
hr

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [74]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [78]:
hr_le = hr
hr_le.town = le.fit_transform(hr_le.town)
hr_le

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [79]:
x = hr[['town','area']].values
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [82]:
y = hr_le.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [87]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = ct.fit_transform(x)

In [88]:
x

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [89]:
x = x[:,1:]
x

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [90]:
model.fit(x,y)

LinearRegression()

In [92]:
model.predict([[1,0,2800]])

array([590775.63964739])